.config/raycast
envman
gcloud
.config/karabiner/automatic_backups
.config/github-copilot/hosts.json
.config/lazysql/config.toml
.config/zed/**
!.config/zed/keymap.json
!.config/zed/settings.json

.config/yazi/plugins

.config/fish/**
!.config/fish/fish_plugins
!.config/fish/config.fish
!.config/fish/fish_variables
