# This is Git's per-user configuration file.
[user]
	name = quangd42
	email = quang.dang.n42@gmail.com
# Please adapt and uncomment the following lines:
#	name = ammon134
#	email = ammon134@gmail.com
[http]
	proxy = 
[init]
	defaultBranch = main
